<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.DanielGamage.SelectionPalette</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>2.0</string>
	<key>CFBundleName</key>
	<string>SelectionPalette</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/danielgamage/SelectionPalette/main/SelectionPalette.glyphsPalette/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/danielgamage/SelectionPalette</string>
	<key>productReleaseNotes</key>
	<string>python rewrite for Gylphs 3</string>
	<key>NSPrincipalClass</key>
	<string>SelectionPalette</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
